:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #b1dde0;
  --second-brand-color: #50c5b0;
  --third-brand-color: #e6e4df;

  --main-font: 'Teko Light';
  --title-font: 'Teko SemiBold';
  --main-title-font: 'Teko Bold';

  font-size: 62.5%;
}
